.input {
    height: 5.9rem;
    width: 28.2rem;
    border-radius: 3.6rem;
    @include font(1.2rem, 1.8rem, 400);
    color: #5C6370;
    border: none;
    padding: 2rem;
    font-family: inherit;
}