.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 3rem;
    &__wrapper {
        max-width: 1052px;
        margin: 0 auto;
        @include media-mobile {
            width: 100vw;
        }
    }
}